.container {
  .header {
    bottom: auto;
    top: 0;
    background: #ffffff;

    .toolbar {
      display: flex;
      justify-content: center;
      position: relative;

      .buttonBack {
        position: absolute;
        left: 16px;
      }
    }
  }

  .main {
    margin-top: 60px;
  }
}

.title {
  color: #000000;
  margin: 0 auto;
}
