.container {
  .header {
    bottom: auto;
    top: 0;
    background: #ffffff;

    .toolbar {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      .logo {
        height: 50px;
        width: auto;
      }

      .buttonBack {
        position: absolute;
        left: 16px;
      }
    }
  }

  .main {
    margin-top: 60px;
  }
}

.title {
  text-align: center;
  color: #000000;
  margin: 0 auto;
  font-size: 14px;
}
