.container {
  .header {
    bottom: auto;
    top: 0;
    background: #ffffff;
    color: #000000;

    .toolbar {
      display: flex;
      justify-content: center;
    }

    .logo {
      height: 60px;
      width: auto;
    }
  }

  .mainContent {
    margin-top: 125px;
  }
}
