.container {
  .header {
    bottom: auto;
    top: 0;
    background: #ffffff;
    color: #000000;

    .toolbar {
      display: flex;
      justify-content: center;
    }

    .logo {
      height: 60px;
      width: auto;
    }
  }

  .mainContent {
    margin-top: 75px;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  min-width: 320px;
  flex: 1 1 calc(50% - 20px);
  flex-direction: column;
  margin: 10px;

  &.book {
    margin-top: auto;
    align-self: flex-end;
  }

  .bookButton {
    border-radius: 0;
  }
}

.ratingChip {
  font-size: 18px !important;
  font-weight: 500;
  margin-left: auto;
}

.cardMedia {
  height: 0;
  padding-top: 60%;
}

.cardContent {
  display: flex;

  .contentText {
    order: 1;
  }

  .rating {
    display: flex;
    flex-direction: column;
    order: 2;
    align-self: center;
    margin-left: auto;
    text-align: right;

    .reviewLink {
      color: #000000;
    }
  }
}

.address {
  &:after {
    content: ' • ';
  }
}

.link {
  display: table-cell;
}

@media screen and (max-width: 800px) {
  .card {
    flex-basis: 95%;
  }
}

@media screen and (max-width: 550px) {
  .cardContent {
    flex-direction: column;

    .rating {
      flex-direction: row;
    }
  }

  .card {
    flex-basis: 95%;
  }

  .cardContent {
    .contentText {
      order: 2;
    }

    .rating {
      display: flex;
      align-items: center;
      order: 1;
      margin-bottom: 10px;
      align-self: flex-start;
      margin-left: initial;
      text-align: left;
    }
  }

  .ratingChip {
    margin-right: 10px;
  }
}
